<div class="foots">
    <img src="../../../assets/img/catdog.jpeg" alt="" />
</div>

<div id="title">
    <h1>{{ title }}</h1>
    <h3>{{ subtitle }}</h3>
</div>

<article class="home">
    <h3>Home</h3>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla rutrum placerat nisl, a maximus sem imperdiet at. Nullam in purus vel tortor tempus elementum. Pellentesque dignissim fermentum efficitur. Pellentesque sed venenatis arcu. Etiam ut nulla urna.
        Sed elementum consequat leo eget blandit. Curabitur id augue ipsum. Pellentesque consectetur nibh a rhoncus dapibus. Donec ut massa massa. Duis maximus tortor vel consequat feugiat. Fusce commodo condimentum libero. Fusce ut nibh dui. Nullam malesuada
        ex nibh, quis efficitur mauris a ultricies eu. Aliquam eget arcu pulvinar nibh rutrum mollis ac a elit. Vestibulum a varius risus. Pellentesque nec elit non quam tristique suscipit ac id ante.
    </p>
</article>
